{{- if not .Values.constrainedNamespaces }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "go-kube-downscaler.fullname" . }}
rules:
{{ include "go-kube-downscaler.permissions" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "go-kube-downscaler.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "go-kube-downscaler.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "go-kube-downscaler.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
