{{- if include "go-kube-downscaler.leaderElection" . -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "go-kube-downscaler.fullname" . }}-lease-role
  namespace:  {{ .Release.Namespace }}
rules:
- apiGroups:
    - coordination.k8s.io
  resources:
    - leases
  verbs:
    - get
    - create
    - watch
    - list
    - update
    - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "go-kube-downscaler.fullname" . }}-lease-rolebinding
  namespace:  {{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ include "go-kube-downscaler.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ include "go-kube-downscaler.fullname" . }}-lease-role
  apiGroup: rbac.authorization.k8s.io
{{- end }}
