{{- if and (or .Values.annotationsCompliance.onWorkloads.enabled .Values.annotationsCompliance.onNamespace.enabled) (not (semverCompare ">=1.34.0" .Capabilities.KubeVersion.Version)) }}
{{- fail "annotationsCompliance using MutatingAdmissionPolicy requires Kubernetes >= 1.34.0 (MutatingAdmissionPolicy/v1beta1)" }}
{{- end }}
{{- if and (or .Values.annotationsCompliance.onWorkloads.enabled .Values.annotationsCompliance.onNamespace.enabled) (semverCompare ">=1.34.0" .Capabilities.KubeVersion.Version) .Values.annotationsCompliance.mutateUnauthorizedAnnotationsAddition }}
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicy
metadata:
  name: prevent-remove-downscaler-reserved-annotations
spec:
  matchConstraints:
    resourceRules:
    {{- if .Values.annotationsCompliance.onNamespace.enabled }}
      - apiGroups:
          - ""
        apiVersions:
          - "*"
        operations:
          - "UPDATE"
        resources:
          - namespaces
    {{- end }}
    {{- if .Values.annotationsCompliance.onWorkloads.enabled }}
{{- include "go-kube-downscaler.annotationsCompliance" (dict "preventRemoval" true) | trim | nindent 6 }}
    {{- end }}
  matchConditions:
    - name: kube-downscaler-webhook-sa
      expression: 'oldObject != null && has(oldObject.metadata.annotations) && oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/")) && object != null && (!has(object.metadata.annotations) || !object.metadata.annotations.exists(l, l.startsWith("downscaler/")) || oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/") && (!(l in object.metadata.annotations)))) && request.userInfo.username != "system:serviceaccount:{{ .Release.Namespace }}:{{ include "go-kube-downscaler.webhookController.fullname" . }}"'
    - name: kube-downscaler-sa
      expression: 'oldObject != null && has(oldObject.metadata.annotations) && oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/")) && object != null && (!has(object.metadata.annotations) || !object.metadata.annotations.exists(l, l.startsWith("downscaler/")) || oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/") && (!(l in object.metadata.annotations)))) && request.userInfo.username != "system:serviceaccount:{{ .Release.Namespace }}:{{ include "go-kube-downscaler.serviceAccountName" . }}"'
    {{- if .Values.annotationsCompliance.authorizedNamespacesToServiceAccountsRegex }}
    {{- $nameIndex := 0 }}
    {{- range $namespaceRegex, $serviceAccounts := .Values.annotationsCompliance.authorizedNamespacesToServiceAccountsRegex }}
    {{- range $index, $saRegex := $serviceAccounts }}
    {{- $nameIndex = add $nameIndex 1 }}
    - name: authorized-user-pattern-{{$index}}
      expression: 'oldObject != null && has(oldObject.metadata.annotations) && oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/")) && object != null && (!has(object.metadata.annotations) || !object.metadata.annotations.exists(l, l.startsWith("downscaler/")) || oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/") && (!(l in object.metadata.annotations)))) && !request.userInfo.username.matches("^system:serviceaccount:{{$namespaceRegex}}:{{$saRegex}}")'
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if .Values.annotationsCompliance.authorizedUsersRegex }}
    {{- range $index, $userRegex := .Values.annotationsCompliance.authorizedUsersRegex }}
    - name: authorized-user-pattern-{{$index}}
      expression: 'oldObject != null && has(oldObject.metadata.annotations) && oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/")) && object != null && (!has(object.metadata.annotations) || !object.metadata.annotations.exists(l, l.startsWith("downscaler/")) || oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/") && (!(l in object.metadata.annotations)))) && !request.userInfo.username.matches("{{ $userRegex }}")'
    {{- end }}
    {{- end }}
  failurePolicy: Ignore
  reinvocationPolicy: IfNeeded
  mutations:
  - patchType: JSONPatch
    jsonPatch:
      expression: >
          has(oldObject) && has(oldObject.metadata.annotations) ?
            oldObject.metadata.annotations
              .filter(
                k,
                k.startsWith("downscaler/") &&
                (
                  !has(object.metadata.annotations) ||
                  !(k in object.metadata.annotations)
                )
              )
              .map(
                k,
                JSONPatch{
                  op: "add",
                  path: "/metadata/annotations/" + k.replace("/", "~1"),
                  value: oldObject.metadata.annotations[k]
                }
              )
            : []
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: prevent-remove-downscaler-reserved-annotations-binding
spec:
  policyName: prevent-remove-downscaler-reserved-annotations
  matchResources:
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: Exists
{{- end }}
