{{- if and .Values.preventUnauthorizedAnnotations.enabled (not (semverCompare ">=1.34.0" .Capabilities.KubeVersion.Version)) }}
{{- fail "preventUnauthorizedAnnotations using MutatingAdmissionPolicy requires Kubernetes >= 1.34.0 (MutatingAdmissionPolicy/v1beta1)" }}
{{- end }}
{{- if and .Values.preventUnauthorizedAnnotations.enabled (semverCompare ">=1.34.0" .Capabilities.KubeVersion.Version) .Values.preventUnauthorizedAnnotations.mutateUnauthorizedAnnotations }}
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicy
metadata:
  name: remove-downscaler-reserved-annotations
spec:
  matchConstraints:
    resourceRules:
{{- include "go-kube-downscaler.preventUnauthorizedResources" . | trim | nindent 6 }}
  matchConditions:
    - name: request-not-from-kube-downscaler-sa
      expression: 'object.metadata.annotations.exists(l, l.startsWith("downscaler/")) && (oldObject == null || !oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/"))) && request.userInfo.username != "system:serviceaccount:{{ .Release.Namespace }}:{{ include "go-kube-downscaler.serviceAccountName" . }}")'
    {{- if .Values.preventUnauthorizedAnnotations.authorizedNamespacesToServiceAccountsRegex }}
    {{- $nameIndex := 0 }}
    {{- range $namespaceRegex, $serviceAccounts := .Values.preventUnauthorizedAnnotations.authorizedNamespacesToServiceAccountsRegex }}
    {{- range $index, $saRegex := $serviceAccounts }}
    {{- $nameIndex = add $nameIndex 1 }}
    - name: request-not-from-authorized-sa-has-a-kubedownscaler-reserved-annotation-{{$nameIndex}}
      expression: 'object.metadata.annotations.exists(l, l.startsWith("downscaler/")) && (oldObject == null || !oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/"))) && !request.userInfo.username.matches("^system:serviceaccount:{{$namespaceRegex}}:{{$saRegex}}")'
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if .Values.preventUnauthorizedAnnotations.authorizedUsersRegex }}
    {{- range $index, $userRegex := .Values.preventUnauthorizedAnnotations.authorizedUsersRegex }}
    - name: request-not-from-authorized-user-has-a-kubedownscaler-reserved-annotation-{{$index}}
      expression: 'object.metadata.annotations.exists(l, l.startsWith("downscaler/")) && (oldObject == null || !oldObject.metadata.annotations.exists(l, l.startsWith("downscaler/"))) && !request.userInfo.username.matches("{{ $userRegex }}")'
    {{- end }}
    {{- end }}
  failurePolicy: Ignore
  reinvocationPolicy: IfNeeded
  mutations:
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1exclude"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1downscale-period"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1downtime"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1upscale-period"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1uptime"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1exclude-until"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1force-downtime"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1force-uptime"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1downscale-replicas"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1grace-period"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1scale-children"
           }
          ]
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
           JSONPatch{
            op: "remove",
            path: "/metadata/annotations/downscaler~1upscale-excluded"
           }
          ]
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: remove-downscaler-reserved-annotations-binding
spec:
  policyName: remove-downscaler-reserved-annotations
  matchResources:
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: Exists
{{- end }}
