{{- if .Values.constrainedDownscaler }}
{{- if not .Values.constrainedNamespaces }}
{{- fail "Error: 'constrainedNamespaces' must not be empty or null when 'constrainedDownscaler' is true." }}
{{- end }}

{{- range $namespace := .Values.constrainedNamespaces }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "go-kube-downscaler.fullname" $ }}
  namespace: {{ $namespace }}
rules:
{{ include "go-kube-downscaler.permissions" $ }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "go-kube-downscaler.fullname" $ }}
  namespace: {{ $namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "go-kube-downscaler.fullname" $ }}
subjects:
  - kind: ServiceAccount
    name: {{ include "go-kube-downscaler.serviceAccountName" $ }}
    namespace: {{ $.Release.Namespace }}

{{- end }}
{{- end }}
