version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "housekeeping"
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      version-bump:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "housekeeping"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      version-bump:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "housekeeping"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      version-bump:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
