.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  width: 16rem;
}

.image {
  height: 10rem;
  width: 10rem;
}

.heading {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
