name: Validate Website Build

on:
  push:
    branches-ignore:
      - main
    paths:
      - "website/**"

jobs:
  build:
    name: Test Build Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "website/package.json"
      - name: Install dependencies
        run: |
          npm --prefix website install
      - name: Run npm build
        run: |
          npm --prefix website run build
